body {
  background-color: #222;
  color: white;
}

a {
    text-decoration: none;
}
a:link {
    color: hsl(220, 100%, 50%) 
}
a:visited {
    color: hsl(220, 100%, 75%) 
}

button {
    background-color: #007AFF;
    color: white;
    border-radius: 1rem;
    border: none;
    font-size: 1rem;
    padding: 0.4rem;
    outline: none;
    margin-bottom: 1rem;

}

button:disabled,
button[disabled] {
    background-color: #004084;
    color: hsl(0, 0%, 64%);
}
